#head_central {
  text-align: center;
  img{
    max-width: 1200px;
  }
}

  #central {
    background-image: url("../../assets/img-copertina-tondini.jpeg");
    background-repeat: no-repeat;
    background-position-y:top;
    background-position-x: right;
    padding: 2em;
    padding-left: 30em;
    position: relative;
    width: 1200px;
    margin: auto;
  }

  #main_central {
    color: #000000;
    position: relative;
    background-color: rgba(255, 255, 255, 0.604);
    margin-top: 0;
    margin-bottom: 0;
    padding: 1em;
  }

