<div id="head_central" class="text:center mt-4">
  <h1>La zuppa con il fagiolo Tondino del Tavo</h1>
  <img src="../../assets/zuppa.png" alt="piatto di zuppa" width="100%" />
</div>
<div class="container-fluid" id="central">
  <div id="main_central">
    <h2>Conosciamo meglio il fagiolo Tondino del Tavo</h2>
    <p>
      Color madreperla, il fagiolo Tondino ha una buccia sottilissima che
      permette preparazione rapida e facile digestione. Prima della cottura va
      messo in ammollo per una notte. «È un fagiolo tardivo che si semina a
      luglio e si raccoglie nella seconda decade di novembre. Bisogna interrare
      il seme a un centimetro, massimo un centimetro e mezzo, di profondità,
      altrimenti rischia di non germogliare e di marcire nel terreno», spiega
      Carlo Passeri, uno dei produttori, che coltiva circa tre ettari. «La
      riscoperta di questo legume è avvenuta negli anni 50 in maniera graduale
      tanto che, ancora oggi, resta un alimento di nicchia rispetto al più
      comune borlotto e sono pochi i ristoratori della zona che lo utilizzano
      per i loro piatti tipici primi, fra tutti i fagioli con le cotiche e sagne
      o tacconelle con fagioli. Sempre conditi con olio extravergine d’oliva a
      crudo aprutino-pescarese», conclude Passeri.
    </p>
  </div>
</div>
